.Blog {
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
	margin: auto;
	height: auto;
}

.Blog ul {
	display: inline-flex;
	text-decoration-style: none;
}

.Blog li {
	display: flex;
	margin: 0 15px;
}

.Blog a {
	text-decoration: none;
}
.Blog a:active {
	color: #ffc422;
	border: 1px solid #5dabeb;
}
