.Post {
	align-items: center;
	display: inline-flex;
	justify-content: center;
	width: 150px;
	height: 180px;
	margin: 0 15px;
	box-shadow: 5px 4px 20px 0.5px rgba(0, 0, 0, 0.5);
	text-align: center;
}
